{% extends 'base.html' %}

{% block content %}

<br>
{% if object %}
    <h1 class="hogwarts">Edit Broomstick</h1>
{% else %}
    <h1 class="hogwarts">Add Broomstick</h1>
{% endif %}

<div class="broomstick-form-container">
    <form action="" method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form.as_table }}
        <br>
        <div class="broomstick-form-button">
            <button type="submit" class="broomstick-form-submit">{% if object %} Update Broomstick {% else %} Add Broomstick {% endif %}</button>
        </div>
    </form>
</div>

{% endblock %}