{% extends 'base.html' %}

{% block content %}

<br>
{% if object %}
    <h1 class="hogwarts">Edit Team</h1>
{% else %}
    <h1 class="hogwarts">Add Team</h1>
{% endif %}

<div class="team-form-container">
    <form action="" method="POST" autocomplete="off">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <br>
        <div class="team-form-button">
            <button type="submit" class="team-form-submit">{% if object %} Update Team {% else %} Create Team {% endif %}</button>
        </div>
    </form>
</div>
{% endblock %}