{% extends 'base.html' %}

{% block content %}

<br>
{% if object %}
    <h1 class="hogwarts">Edit Player</h1>
{% else %}
    <h1 class="hogwarts">Create Player</h1>
{% endif %}

<div class="team-form-container">
    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <br>
        <div class="team-form-button">
            <input class="btn blue" type="submit" value="{% if object %} Update Player {% else %} Add Player {% endif %}">
        </div>
    </form>
</div>

{% endblock %}