{% extends 'base.html' %}

{% block content %}

<h1 class="hogwarts">Player Details</h1>
<br>

<div class="card">
    <div class="card-content">
      <span class="card-title">{{ player.name }}</span>
      <p>Species: {{ player.species }}</p>
      <p>Gender: {{ player.gender }}</p>
      <p>House: {{ player.house }}</p>
      <p>Wizard: {% if player.wizard %}Yes{% else %}No{% endif %}</p>
      <p>Hogwarts Student: {% if player.hogwarts_student %}Yes{% else %}No{% endif %}</p>
      <p>Hogwarts Staff: {% if player.hogwarts_staff %}Yes{% else %}No{% endif %}</p>
      <p>Alive: {% if player.alive %}Yes{% else %}No{% endif %}</p>
    </div>
     <div class="card-action">
        <a href="{% url 'players_update' player.id %}" class="btn cyan">Edit</a>
        <a href="{% url 'players_delete' player.id %}" class="btn red">Delete</a>
    </div>
  </div>

{% endblock %}