{% extends 'base.html' %}
{% block content %}

<h1 class="hogwarts">View My Teams</h1>
{% for team in teams %}
<a href="{% url 'detail' team.id %}">
    <div class="card">
        <div class="card-content">
            <p>Team Name: {{ team.name }}</p>
            <p>Team Description: {{ team.description }}</p>
            <p>Players:
            {% for player in team.players.all %}
                {{ player.name }},
            {% endfor %}
            </p>
        </div>
    </div>
</a>
{% endfor %}

{% endblock %}